<template>
    <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="colorFondo"></div>
          <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1 p-0">
              <div class="txtVist">
                <div>
                  <p id="idGracias">
                    <b>Seguro de Auto {{$store.state.config.k1}}</b>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-12"
              v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj"
            >
              <loader />
            </div>
            <h6
            class="mt-5 text-white text-center"
            v-if="
              ($store.state.ejecutivo.nombre === '' ||
                $store.state.ejecutivo.nombre === null) && !this.$store.state.formData.precio && $store.state.cargandocotizacion 
            "
          >
            Un asesor experto se comunicará contigo a la brevedad para
            asesorarte de forma gratuita.
          </h6>
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0 mb-3" v-if="$store.state.cargandocotizacion && this.$store.state.formData.precio">
              <tabla />
            </div>
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0 mb-3" v-if="$store.state.msj ||$store.state.msjEje">
              <msjSinRes /> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <logica-component/>
  </div>
</template>

<script>
import logicaComponent from "~/components/common/logica.vue"
import tabla from "~/components/utilities/tabla.vue";
import rest from "~/components/utilities/rest.vue";
import msjSinRes from "~/components/utilities/msjSinRes.vue";
import loader from "~/components/utilities/loading.vue";
export default {
  layout: "thanks",
  components: {
    tabla,
    rest,
    msjSinRes,
    loader,
    logicaComponent
  },
  head() {
    return {
      title: 'La Latino Seguros – Cotiza el Mejor Seguro de auto La Latino',
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "La Latino Seguros, Seguros de autos La Latino, La Latino Seguros Autos, Seguros Autos La Latino, Aseguradora La Latino"
        },
        {
          hid: "description",
          name: "description",
          content:
            " Cotiza fácil, rápido y al mejor precio La Latino Seguros. Protege tu auto, ya que con el Mejor Seguro de Auto tenemos las mejores coberturas en Seguros de auto La Latino."
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "lalatinoseguros.mx"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://lalatinoseguros.mx/timeline/thank-you"
        }
      ]
    };
  }
};
</script>
