<template>
  <div class="addCont">
    <span>
      Recibe todos los beneficios en tu Seguro con
      <b> {{$store.state.config.asgNombre}}</b>
    </span>
    <hr />
    <div class="row">
      <div class="col-12 col-sm-4">
        <img src="/img/icon/1.svg" :alt="this.$store.state.config.k1" />
        <p>Asistencia vial</p>
      </div>
      <div class="col-12 col-sm-4">
        <img src="/img/icon/2.svg" :alt="this.$store.state.config.k2" />
        <p>Auto sustituto</p>
      </div>
      <div class="col-12 col-sm-4">
        <img src="/img/icon/3.svg" :alt="this.$store.state.config.k3" />
        <p>{{this.$store.state.config.msi}} {{this.$store.state.config.extraMsg}}</p>
      </div>
    </div>
  </div>
</template>