<template>
  <div>
    <div class="container-fluid">
      <div class="row" style="justify-content: center">
        <!-- BOTON Linea-->
        <div class="col-12 col-sm-6 mx-auto text-center order-1 order-sm-2 p-0">
          <img
            src="/img/asg/logo/latino.svg"
            height="110"
            width="220"
            class="img-fluid d-block d-sm-none bg-white rounded mx-auto"
            alt=""
          />
          <img
            src="/img/btn_linea.svg"
            width="305"
            height="75"
            alt="compra-linea"
            class="btn-block mb-2 btn img-fluid"
            :data-tooltip="
              'Obtén ' +
              this.$store.state.config.desc +
              ' ' +
              this.$store.state.config.msi
            "
            tabindex="0"
            target="_blank"
            rel="nofollow"
            role="button"
            @click="conectarEmision()"
            v-bind:class="{
              disabled: this.$store.state.config.btnEmisionDisabled,
            }"
            :disabled="this.$store.state.config.btnEmisionDisabled"
            v-if="$store.state.config.emision === true"
          />
        </div>

        <!-- BTN Telefono -->
        <div
          class="col-12 col-sm-6 mx-auto text-center order-2 order-sm-1 p-0 position-relative"
        >
          <div id="tooltip_example">
            <span class="mb-0 text-white" style="font-size: 16px !important"
              >Un ejecutivo se pondrá en contacto contigo.</span
            >
          </div>
          <img
            src="/img/btn_telefono.svg"
            height="75"
            width="305"
            alt="compra-tel"
            v-on:click="show = !show"
            class="mb-3 btn btn-block pl-0 pr-0 img-fluid"
            :data-tooltip="
              'Obtén ' +
              this.$store.state.config.desc +
              ' ' +
              this.$store.state.config.msi
            "
            tabindex="0"
            target="_blank"
            rel="nofollow"
            role="button"
            @click="saveInteraccion()"
            v-bind:class="{
              disabled: this.$store.state.config.btnEmisionDisabled,
            }"
            :disabled="this.$store.state.config.btnEmisionDisabled"
            v-if="$store.state.config.emision === true"
          />
        </div>
        <div v-if="show" class="triangulo mx-auto mb-0"></div>
      </div>
    </div>
  </div>
</template>
<script>
import SaveLead from "~/plugins/saveTrigarante";

const saveLead = new SaveLead();
const tokenData = process.env.tokenData;
const motorCobro = process.env.motorCobro;
const sitio = process.env.sitio;

export default {
  data: function () {
    return { show: false };
  },
  methods: {
    conectarEmision() {
      if (!this.$store.state.config.habilitarBtnEmision) {
        this.$store.state.config.btnEmisionDisabled = true;
        var jsonEcomerseEmision = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid: false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionEcommerce,
          idEstadoCotizacion: 6, //segun Fredo
          idTipoContacto: 6, //segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadEmision(
            JSON.stringify(jsonEcomerseEmision),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            resp = resp.data.data;

            /*Se valida que la respuesta no contenga ceros en los ID's*/
            if (
              resp.idSolicitudes != 0 &&
              resp.idCotizacionesAli != 0 &&
              resp.idCotizaciones != 0 &&
              resp.idProductoSolicitud != 0 &&
              resp.idProspecto != 0 &&
              this.$store.state.formData.precio > 1000
            ) {
              //Conexion a motor de pago online
              let peticion =
                resp.idSolicitudes +
                "|" +
                resp.idCotizacionesAli +
                "|" +
                resp.idCotizaciones +
                "|" +
                resp.idProductoSolicitud +
                "|" +
                resp.idProspecto +
                "|" +
                sitio;
              let x = Buffer.from(JSON.stringify(peticion)).toString("base64");
              x = x.replace('"', "");
              window.open(motorCobro + "?id=" + x, "_blank");
            }
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    state.config.accessToken = resp.data.accessToken;
                  }
                  this.conectarEmision();
                })
                .catch((error) => {
                  this.store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, { tokenData: tokenData });
                });
            } else {
              this.$store.state.idEndPoint = 440;
              this.catchStatusAndMessage(error, jsonEcomerseEmision);
            }
          });
      }
    },
    saveInteraccion() {
      if (!this.$store.state.config.habilitarBtnInteraccion) {
        this.$store.state.config.btnEmisionDisabled = true;
        document.getElementById("tooltip_example").className = "d-block";
        var jsonEcomerse = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
            this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionInteraccion,
          idEstadoCotizacion: 7, //por defectro segun Fredo
          idTipoContacto: 1, //por defectro segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadInteraccion(
            JSON.stringify(jsonEcomerse),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            //Conexion a motor de pago online
            console.log("INTERACCION OK....");
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.saveInteraccion();
                })
                .catch((error) => {
                  this.store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });
                });
            } else {
              this.$store.state.idEndPoint = 442;
              this.catchStatusAndMessage(error, jsonEcomerse);
            }
          });
      }
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
  },
};
</script>
<style scoped>
*,
*::before,
*::after {
  box-sizing: border-box;
}
.text-asesor {
  position: absolute;
  top: 95px;
}
</style>
