<template>
  <div class="container-fluid">
    <div class="row endCont">
      <div class="col-xl-10 offset-xl-1">
        <div class="navbar p-0">
          <img width="150" height="79" :src="'/img/asg/logo/' + $store.state.config.img" :alt="$store.state.config.k4"/>
          <div>
            <p class="p-0 m-auto">
              <b>{{$store.state.config.dominio}}</b>
            </p>
             <p class="p-0 m-auto">
              <label class="priv text-dark" style="font-size:12px;" for="modal-toggle">Aviso de privacidad</label>
            </p>
          </div>
        </div>
        <p>
          *Los precios mostrados en esta página web son proporcionados por la Compañía de Seguros.
          Este sitio web esta operado por un agente de seguros certificado que te brindará atención 100% personalizada.
          De
          <a href="/" class="text-muted" rel="nofollow" target="_blank">{{$store.state.config.asgNombre}} de Autos,</a> Puedes encontrar mas promociones
          en
          <a href="/" class="text-muted" rel="nofollow" target="_blank">{{$store.state.config.asgNombre}}</a> y comparadores online
          cómo:
          <a href="https://ahorraseguros.mx/" class="text-muted" rel="nofollow" target="_blank">AhorraSeguros,</a>
          <a href="https://comparaya.mx/" class="text-muted" rel="nofollow" target="_blank">ComparaYa</a> o
         
          <a href="https://mejorsegurodeauto.mx/" class="text-muted" rel="nofollow" target="_blank">MejorSegurodeAuto.</a>
        </p>
      </div>
    </div>
  </div>
</template>