<template>
  <div class="card-body col-12">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="row shake animated" style="background:rgb(244, 249, 251);border: 1px solid #e7e6e6;padding:10px;">
            <div class="col-12 col-sm-3 col-md-3 col-lg-2">
              <img style="max-width:140px;width:100%;height:auto;display:block;margin:0 auto;" src="/img/bannergm.svg" alt="gastos médicos" />
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-6 pt-3">
              <p style="font-size:20px;font-weight:700;margin-bottom: 0.2rem;">Obtén tu Seguro de Gastos Médicos al Mejor Precio</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 pt-3">
              <a href="https://gnpgastosmedicos.mx/landing-autos/" target="_blank" rel="nofollow" class="btn btn-block btn-success mt-2 fff" style="line-height:2;font-weight:bold;font-size:20px;font-family:sans-serif;">Cotizar Gratis&nbsp;&nbsp;
            <img
            src="/img/icon/indicador.png"
            alt="Cotizar gratis ahora"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .fff{color:#fff!important;}
  .animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@-webkit-keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}

@keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}
  .shake {-webkit-animation-name: shake;animation-name: shake;}
</style>