<template>
  <div>
        <div class="msj bg-white rounded p-3 text-center">
      <!-- NOMBRE -->
      <p><span>Tenemos increíbles descuentos, por favor ponte en contacto con nosotros para recibir más información</span></p>
      <!-- TELEFONO -->
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
          class="btn btn-success"
        >Llamar Ahora <i class="fa fa-chevron-right"></i></a>
    </div>
    </div>
</template>