<template>
  <div>
    <div class="rest">
      <!-- NOMBRE -->
      <p v-if="$store.state.ejecutivo.nombre != ''">
        <b>Nombre:</b>
        &nbsp;{{$store.state.ejecutivo.nombre}}
      </p>
      <!-- COREEO -->
      <p v-if="$store.state.ejecutivo.correo != ''">
        <b>Correo:</b>
        &nbsp;{{$store.state.ejecutivo.correo}}
      </p>
      <p>En breve te llamaremos espera nuestra llamada.</p>
      <!-- TELEFONO -->
      <p>
        <b>Teléfono:</b>
        &nbsp;
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
        >55{{$store.state.config.telefonoAS}}</a>
      </p>
    </div>
  </div>
</template>