<template>
  <div>
    <div class="text-end col-12">
      <div class="col-12 col-md-6 d-inline-block"></div>
      <div class="col-12 col-md-12 mt-2 d-inline-block text-center">
        <div class="display-6 fw-bold"           v-if="
        $store.state.cargandocotizacion == true &&
        this.$store.state.formData.precio > 0 &&
        this.$store.state.formData.precio != null &&
        this.$store.state.formData.precio != ''
      ">
          <p class="mb-0 text-white" style="font-size: 25px">AMPLIA</p>
          <p class="mb-0 text-white" style="font-size: 12px; font-weight: 800">
            PRECIO EXCLUSIVO EN LÍNEA
          </p>
          <span style="color: white; font-size: 3rem">{{
            $store.state.formData.precio | currency
          }}</span>
          <span
            class="text-secondary lead float-none w-100"
            style="font-weight: bold; font-size: 12px"
          ></span
          ><br />
          <span
            class="text-secondary lead float-none w-100"
            style="font-size: 10px"
          ></span>
          <br />
        </div>
      </div>
    </div>
    <div class="text-center dinero">
      <btn-Ecomerce
        v-show="$store.state.cargandocotizacion == true && this.$store.state.cotizacion.coberturas != null"
      ></btn-Ecomerce>
    </div>
    <div class="rest" v-show="$store.state.cargandocotizacion == true && this.$store.state.cotizacion.coberturas != null">
      <!-- TABLA -->
      <span>
        <b>Coberturas</b>
      </span>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Cobertura</th>
              <th scope="col">Suma asegurada</th>
              <th scope="col">Deducible</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in this.$store.state.cotizacion
                .coberturas"
              :key="index"
            >
              <td>{{ item | showName }}</td>
              <td>{{ item | showSuma }}</td>
              <td>{{ item | showDeducible }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import btnEcomerce from "~/components/utilities/btnsEcomerce.vue";
export default {
  components: {
    btnEcomerce,
  },
  filters: {
          showName: function (value) {
            if(typeof value.Nombre != 'undefined'){
              return value.Nombre;
            }else{
              return value.nombre;
            }
          },
          showSuma: function (value) {
            if(typeof value.SumaAsegurada != 'undefined'){
              var sumaAseg = value.SumaAsegurada;
            }else{
              var sumaAseg = value.sumaAsegurada;
            }
            var regExp = /[123456789]/;
            var result = regExp.exec(sumaAseg);
            if(sumaAseg==0||sumaAseg==''){sumaAseg = 'NO APLICA';}
            else if(sumaAseg==1){sumaAseg = 'Amparada';}
            else if(result!=null)//tiene numeros 1-9
            {
              var regExp2 = /[a-zA-Z]/g;
              var result2 = regExp2.exec(sumaAseg);
              if(sumaAseg.includes("$")==false)
              {
                if(result2!=null)//V. COMERCIAL50000
                {
                  sumaAseg = sumaAseg.substring(0,result.index)+ ' $ ' +sumaAseg.substring(result.index,sumaAseg.length);
                }else{sumaAseg = '$ '+sumaAseg;} 
              }
              if(sumaAseg.includes(".0")==true)
              {
                if(sumaAseg.includes(".00")==false){sumaAseg = sumaAseg+'0';}
              }
              else{sumaAseg = sumaAseg+'.00';}
              //Comas version2
              if(!sumaAseg.includes(",")){
                var result3 = regExp.exec(sumaAseg);
                var inicio = result3.index;
                var regExp3 = /\.00/;
                var result4 = regExp3.exec(sumaAseg);
                var fin = result4.index;
                var n = (fin-inicio)/3;
                if (n > 1 && n <= 2)//1,000->100,000
                {
                  var z = sumaAseg.substring(fin-3,fin);
                  var y = sumaAseg.substring(inicio,fin-3);
                  var x = sumaAseg.substring(0,inicio);
                  var zz = sumaAseg.substring(fin,sumaAseg.length);
                  sumaAseg = x + y + ',' + z + zz;
                }
                else if (n > 2 && n <= 3)//1,000,000->100,000,000
                {
                  var z = sumaAseg.substring(fin-3,fin);
                  var z2 = sumaAseg.substring(fin-6,fin-3);
                  var y2 = sumaAseg.substring(inicio,fin-6);
                  var x = sumaAseg.substring(0,inicio);
                  var zz = sumaAseg.substring(fin,sumaAseg.length);
                  var sumaAseg = x + y2 + ',' + z2 + ',' + z + zz;
                }
              }
            }
            return sumaAseg;
          },
          showDeducible: function (value) {
            if(typeof value.Deducible != 'undefined'){
              var deducible = value.Deducible;
            }else{
              var deducible = value.deducible;
            }
            var regExp = /[123456789]/;
            var result = regExp.exec(deducible);
            if(deducible==0||deducible==''||deducible=='0%'){deducible = 'NO APLICA';}
            else if(deducible.includes("$")==true)
            {
              if(deducible.includes(".0")==true)
              {
                if(deducible.includes(".00")==false){deducible = deducible+'0';}
              }
              else{deducible = deducible+'.00';}
            }
            else if(result!=null)//tiene numeros 1-9
            {
              if(deducible.includes("%")==false && deducible.length < 7){deducible = deducible+' %';}
            }
            return deducible;
          }
  }
};
</script>
