#v2{width: 50%;}
.v2Head{width: 100%;}

body{
  margin: 0;
  background: #fff;
}
#tooltip_example {
  display:none;
  background: #463c3c;
  border:3px solid #463c3c;
  padding:5px;
  position: absolute;
  bottom: 6rem;
  left: 14%;
  word-wrap:break-word;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  z-index: 1;
}
#tooltip_example:after {
  content: '';
  display: block;
  position: absolute;
  top: 36px;
  left: 45%; 
  width: 0;
  height: 0;
  border-color:  #463c3c transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
}
td img{
  width: 17px !important;
}
.tri {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-bottom: 15px solid transparent;
  border-top: 33px solid #FFF;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent
}
p,span,li{
  color: #444;
}
h2, h3, h4, h5{
  color: #00467F;
  text-align: left;
}
a, a:hover{
  text-decoration: none
}
ul{
  list-style: none;
}
li img{
  width: 17px !important;
}
.navbar a img,.endCont img{
  width: 150px;
  margin: 0;
}
.navbar span{
  color: #00467F;
  font-weight: bold;
}
.btnTel a img{
  width: 25px;
  margin: 0;
}
.btnTel a{
  font-size: 18px;  
  color: #00467F;
  border: 2px solid #00467F;
  padding: 3px 10px;
  margin: 0 5px 0 0;
}
.btnTel a:hover{
  color: #00467F;
}
.btnTel p{
  font-size: 12px;
  padding: 0;
  margin: 0 0 -5px 8px;
  color: #00467F;
}
.imgFondo {
  background-repeat: no-repeat;
  background-image: url(/img/asg/bg/imgfondo.webp);
  overflow: hidden;
  background-position: 100% 100%;
  background-size: cover;
  position: relative; 
  min-height: 28rem;

}

.txtForm {
  margin: auto;
  color: #FFF;
  text-align: center;
  font-size: 18px;
}

.form {
  padding: 4px 5px;    
}

.form select,
.form input {
  height: 52px;
  border-radius: 5px;
  border: none;
  padding: 0 5px; 
  font-size: 1rem;
  color: #444;
}

.form select:focus,
.form input:focus {
  box-shadow: 0 0 0 3px #007bff;
}

.form select.is-invalid,
.form input.is-invalid {
  box-shadow: 0 0 0 2px #ff0000;
}

.checkBox {
  margin: auto;
  padding: 5px 0;
}

.checkBox label,
.checkBox b {
  color: #fff;
  font-size: 14px;
}
.check b {
  color: #556;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  margin-top: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  margin-top: 0px;
}

.btnform {
  margin: 0;
  padding: 0 5px;
}

.btnform button {
  background: #00b62a;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  font-size: 28px;
  padding: 5px 0;
  margin: 0 0 15px 0;
}

.btnform button:hover {
  color: #fff;
  background: #0a942a;
}
h1{
  font-size: 42px;
  color: #00467F;
  margin: 5% 0 0 0;
}
.txt p{
  margin: 1% 0 0 0;
  padding: 0 15px 3px 3px;
  font-weight: bold;
  font-size: 25px;
  color: #00467F;
  /* border: 2px solid ;
  border-radius: 5px;
  position: absolute; */
}

.cont{
  margin-top: 1%;
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}
.cont p, .cont li{
  text-align: left;
  margin: 0;
}
.cont i{
  color: #00467F;
}
.addCont span{
  font-size: 32px;
  color: #00467F
}
.addCont p{
  font-size: 18px;
  text-align: center;
}
.addCont img{
  width: 120px;
  margin: 4% 0 0 0;
}
hr{
  border-bottom: 3px solid #807F83;
  margin: 1% 0 0 15%;
  padding: 0;
  width: 70%;
}
.bgColor{
  background: #00467F;
  text-align: center;
  padding: 0 0 1% 0;
}
.bgColor h2, .bgColor p, .bgColor li, .bgColor i{
  text-align: left;
  color: #fff;
}
.bgColor img{
  width: 60px;
}
section{
  margin: 3% 0 0 0;
}
.endCont{
  background: #f8f8f8;
  text-align: center;
}
.endCont .navbar p, .endCont .navbar a{
  color: #00467F;
  font-size: 16px;
}
.endCont p, .endCont a{
  font-size: 10px;
  color: #b8b8b8;
  text-align: left;
}
.endCont p, a:hover{
  color: #b8b8b8;
}
.footer{
  background: #00467F;
  padding: 1% 0 0 0;
}
.footer a, .footer p, .footer span{
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.botonTop{
  background: #00467F;
}
/* THANKS */
.txtVist{
  text-align: center;
}
.txtVist p{
  margin: 0;
}
.txtVist b{
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.txtVist span{
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.dinero p{
  color: #fff;
  font-size: 18px;
}

.dinero span{
  color: #fff;
  font-size: 46px;
  font-weight: bold;
}
.dinero button{
  background: #00b62a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.dinero button:hover{
  background: #0a942a;
  color: #fff;
}
.rest{
  margin: 0 0 10px 0;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.rest span, .rest a{
  color: #00467F;
  font-size: 18px;
}
.rest img{
  width: 50px;
  margin: 0 0 15px 0;
}
.rest p{
  font-size: 16px;
  color: #556;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 8px 0;
}
.rest b{
  color: #00467F;
}
.rest table{
  margin: 10px 0 0 0;
  text-align: left;
}
.rest th{
  padding: 2px 10px !important;
  background: #00467F;
  color: #FFF;
}
.rest td{
  padding: 2px 10px !important;
  color: #444;
}
/* .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 112, 240, 0.157);
} */
.sk-fading-circle .sk-circle:before {
  background-color: #ffffff;
}
.imglogo{
  width: auto;
    height: 82%;
}
#btnTrackingEcommerce, #btnTrackingTelefono{width: 80% !important;height: 60px !important;padding-top: 14px !important;}
.txt-tel, .txt-compra{font-size: 13px !important;}
.icons{width: 20px; height: 20px;}
h1{font-size: 39px;margin-bottom: 22px;}
@media (min-width: 576px) and (max-width:1350px ){
  #btnTrackingTelefono, #btnTrackingEcommerce{ width: 80% !important;}
  .txt-tel, .txt-compra{
    font-size: 11px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  
}
@media (min-width: 768px) and (max-width: 800px) {
  #tooltip_example {
    left: 0%;
  }
  
  h1{
    font-size:24px;
    text-align:center;
    font-size: 23px;
    margin-bottom: 14px;
    text-align: center;
  }
  .txtForm{
    font-size: 16px;
  }
  .txt p{
    font-size: 24px;
  }
  .cont{
    font-size: 15px;
  }
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist p{
    font-size: 26px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  #tooltip_example:after {
    top: 60px;
  }
  .txt-tel{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1{font-size:24px;text-align:center;}
  .cont, .endCont .navbar p, .endCont .navbar a{
    font-size: 15px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  #tooltip_example {
    left: 0%;
  }
  .btnTel a {
    font-size: 15px;
}
  #logo{
    width: auto;
    height: 70px;
  }
 
  h1{font-size:24px;text-align:center;margin-bottom: 14px;}
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .cont, .rest p, .rest a{
    font-size: 15px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 14px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero button{
    font-size: 14px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  #tooltip_example {
    left: 0%;
  }
  #tooltip_example:after {
    top: 60px;
  }
  #logo{
    width: auto;
    height: 70px;
  }
  
  h1{
    font-size:24px;
    text-align:center;
    font-size: 23px;
    margin-bottom: 14px;
    text-align: center;
  }
  .btnform button {
    font-size: 24px;
  }
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  .btnTel a{
    font-size: 15px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 14px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .cont, .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 13px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .txtVist p, .rest span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero p{
    font-size: 12px;
  }
  .dinero span{
    font-size: 30px;
  }
  .dinero button{
    font-size: 12px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  #tooltip_example {
    left: 0%;
  }
  #tooltip_example:after {
    top: 60px;
  }
  .txt-compra, .txt-tel{font-size: 12px !important;}

  #logo{
    width: auto;
    height: 70px;
  }
  
  h1{font-size:24px;text-align:center;font-size: 23px;margin-bottom: 14px;text-align: center;}
  .btnform button {
    font-size: 22px;
  }
  .btnTel a{
    font-size: 14px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 12px;
  }
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 20px;
  }
  .cont, .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 12px;
    text-align: center;
  }
  .endCont img {
    width: 150px;
}
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 11px;
  }
  .txtVist p, .rest span{
    font-size: 14px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 12px;
  }
  .dinero p{
    font-size: 12px;
  }
  .dinero span{
    font-size: 30px;
  }
  .dinero button{
    font-size: 12px;
  }
}
@media (min-width: 250px) and (max-width: 300px){
  #logo{
    width: 100px;
  }
  .btnTel a{
    font-size: 12px;
  }
  .btnTel p {
    font-size: 11px;
    padding: 0;
    margin: 0 0 -5px 8px;
    color: #00467F;
}
}