<template>
  <div id="notificationLeoesgenial" class="container-fluid alertaColor">
    <div class="alert py-0 my-0" role="alert">
      <!-- <div class="imgFondo"></div> -->
      <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="x">&times;</span>
          </button>
          <div class="row">
            <img src="/img/icon/alerta/blanco/advertencia.svg" alt="alerta" class="imgAlerta" />
            <div class="media-body">
              <p>¡ El Seguro de auto ya es obligatorio !. Evita multa de hasta $4,100.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

  <style scoped>
/* ZAID */
.row {
  align-items: center;
}
.alertaColor {
  padding: 0;
  margin: 0;
}
p {
  color: #fff;
  font-weight: bold;
  width: 96%;
  margin: 0;
}
.alertaColor img {
  margin: 0 5px;
  float: left;
  width: 40px;
  padding: 0;
}
.alertaColor button span {
  z-index: 1;
  position: absolute;
  color: #fff;
  right: 0;
}
.close {
  opacity: 1 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  p {
    font-size: 13px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  p {
    font-size: 13px;
  }
}
/* ZAID */
</style>