<template>
  <div id="notificationLeoesgenial" class="container-fluid alertaColor">
    <div class="alert py-0 my-0" role="alert">
      <!-- <div class="imgFondo"></div> -->
      <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="x">&times;</span>
          </button>
          <div class="row">
            <img src="/img/icon/alerta/blanco/desc.svg" alt="Promociones" class="imgAlerta" />
            <div class="media-body">
              <!-- <p> Increíbles descuentos + 3, 6 y 12 Meses Sin Intereses </p> -->
              <p>{{$store.state.config.desc}} {{$store.state.config.msi}} {{$store.state.config.promo}}</p>
              <h6>{{$store.state.config.adic}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

  <style scoped>
/* ZAID */
.row {
  -webkit-box-align: center;
  align-items: center;
}
.alertaColor {
  padding: 0;
  margin: 0;
}
p {
  color: #fff;
  font-weight: bold;
  width: 97%;
  margin: 0;
}
h6 {
  color: #fff;
  width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
}
.alertaColor img {
  margin: 0 5px 0 0;  
  width: 40px;
  padding: 0;
}
.alertaColor button span {
  z-index: 1;
  position: absolute;
  color: #fff;
  right: 0;
}
.close {
  opacity: 1 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
}
@media (min-width: 321px) and (max-width: 375px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  p {
    font-size: 14px;
  }
}
/* ZAID */
</style>