<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <a id="btnTop" :class="$store.state.config.showHotAlert ? 'botonTop-upper' : 'botonTop'" href="#Top">
      <img src="/img/icon/indicador.png" width="19" height="19" alt="Top" class="botonTopImg">
      <span class="botonTopSpan"> Ir Arriba</span>
    </a>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function () {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>

<style scoped>
.botonTop,
.botonTop-upper {
  background: #00467F;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.botonTop-upper {
  bottom: 4.5rem;
}

.botonTopImg {
  width: 19px;
  transform: rotate(-90deg);
  margin: 0 5px 0 0;
}

.botonTopSpan {
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 319px) {
  .botonTop-upper {
    bottom: 8rem;
  }
}

@media (min-width: 375px) {
  .botonTop-upper {
    bottom: 6rem;
  }
}

@media (min-width: 447px) {
  .botonTop-upper {
    bottom: 4.5rem;
  }
}
</style>