<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1 p-0">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/">
            <img id="logo" width="150" height="79" :src="'/img/asg/logo/'+$store.state.config.img" :alt="$store.state.config.asgNombre" />
          </a>
          <span class="d-none d-md-block">¡ COTIZA EN 5 SEGUNDOS !</span>
          <!-- BTN TEL -->
          <div class="btnTel">
            <a id="idTelDID" :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <img width="25" height="25" src="/img/icon/tel.webp" alt="Tel" />
              <b> (55) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  created: function() {
    //POR ASEGURADORA
    this.$store.state.config.aseguradora = "LATINO";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.telefonoAS = "88902331";
    this.$store.state.config.grupoCallback = 'VN MULTIMARCAS';
    this.$store.state.config.from = "DOMINIO-LALATINO";
    //this.$store.state.config.idAseguradoraCRM = 41;
    this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.asgNombre = "La Latino Seguros"; //NOMBRE DE LA ASEGURADORA EN LA VISTA
    this.$store.state.config.img = "latino.svg"; // HEADER, CARD, FOOTER
    this.$store.state.config.titulo = "La Latino Seguros de Autos"; // INDEX
    this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.promo = " ";
    this.$store.state.config.adic = " ";
    this.$store.state.config.dominio = "lalatinoseguros.mx";
    this.$store.state.config.domV2 = "lalatinoseguro.mx";
    this.$store.state.config.domV3 = "latinosegurosautos.mx";
    this.$store.state.config.k1 = "Seguros La Latino";
    this.$store.state.config.k2 = "La Latino";
    this.$store.state.config.k3 = "Seguros de autos La Latino";
    this.$store.state.config.k4 = "La Latino Seguros Autos";
    this.$store.state.config.k5 = "La Latino Seguros México";
    this.$store.state.config.k6 = "La Latino México";
    this.$store.state.config.k7 = "Seguros La Latino Autos";
    this.$store.state.config.k8 = "La Latino Seguros de auto";
    this.$store.state.config.k9 = "Aseguradora La Latino";
  }
};
</script>