<template>
    <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-lg-6  col-md-6 col-12 txt  d-md-block" >
              <h1 class="text-white  text-center">{{$store.state.config.titulo}}</h1>
                       <!-- <img :src="'/img/'+this.$store.state.config.promoimg" alt="imagen de karen" class="img-fluid mt-2" width="100%" height="52"> -->
                <Especial />
            </div>
            
            <!-- FORM -->
            <div class="col-lg-5 col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
              <div class="col-8 offset-2 d-md-none">
                <img class="v2Head" src="/img/icon/latinoC.svg" width="163" height="70" alt="promo"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cont  pr-3 pr-xl-3">
          <div class="row">
            <div class="col-xl-10 col-12 offset-xl-1">
              <div class="addCont">
                <span>
                  Recibe todos los beneficios en tu Seguro con
                  <b> {{$store.state.config.asgNombre}}</b>
                </span>
                <hr />
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <img src="/img/icon/1.webp" class="img-fluid" width="120" height="120" :alt="$store.state.config.k1" />
                    <p>Asistencia vial</p>
                  </div>
                  <div class="col-12 col-sm-4">
                    <img src="/img/icon/2.webp" class="img-fluid"  width="120" height="120" :alt="$store.state.config.k2" />
                    <p>Auto sustituto</p>
                  </div>
                  <div class="col-12 col-sm-4">
                    <img src="/img/icon/3.webp" class="img-fluid"  width="120" height="120" :alt="$store.state.config.k3" />
                    <p>{{$store.state.config.msi}} {{this.$store.state.config.extraMsg}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- -->
          <section>
            <div class="row bgColor">
              <div class="col-xl-10 offset-xl-1">
                <div class="col-12">
                  <div class="tri"></div>
                </div>
                <h2>La Latino Seguros de Auto te protege a donde vayas</h2>
                
                <ul>
                  <li>
                    <img src="/img/icon/ckeck-blanco.svg" width="17" height="17" alt="check" />&nbsp;Empresa 100% mexicana ícono de solidez
                  </li>
                  <li>
                    <img src="/img/icon/ckeck-blanco.svg" width="17" height="17" alt="check" />&nbsp;Más de un siglo de experiencia cuidando a familias y empresas
                  </li>
                  <li>
                    <img src="/img/icon/ckeck-blanco.svg" width="17" height="17" alt="check" />&nbsp;Constructores de la Torre Latinoamericana, emblema de la CDMX
                  </li>
                </ul>
              <p>La Latinoamericana Seguros S.A. o mejor conocida como La Latino Seguros, es una aseguradora de origen y capital 100% mexicano fundada en 1906, la cual nace con el propósito de proteger a las personas, familias y empresas ante cualquier tipo de situación imprevista.</p>
              <p>Esta aseguradora entiende las necesidades de protección y las exigencias de los mexicanos a través de las generaciones, por lo que cuenta con los seguros más innovadores y efectivos para respaldarte ante cualquier emergencia o siniestro.</p>
              <p>Para cuidar de tu salud, economía y patrimonio puedes obtener coberturas de vida, gastos médicos, accidentes, hogar y autos.</p>
              <p>Este último ramo es uno de los más reconocidos de Seguros La Latino, pues cuentan con una amplia cobertura en todo el territorio mexicano con su red propia de ajustadores, talleres y centros de atención.</p>
              <p>Cotiza ahora mismo tu seguro de auto o cualquier otro con Lalatinoseguros.mx y obtén hasta el 50% de descuento hasta en 12 meses sin intereses.</p>

              </div>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Beneficios de cotizar tu seguro de auto con Lalatinoseguros.mx</h2>
              <p>En El Mejor Seguro de Auto sabemos de lo importante que es cuidar de tu vehículo, principalmente de los distintos riesgos a los que estamos expuestos a diario. Es por eso que junto a La Latino Seguros de Autos, te contamos un poco sobre todas las coberturas que actualmente son comercializadas al sector automotriz. Conoce más:</p>
              <ul>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Cotiza y compara en sólo 10 segundos
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Contratación directamente en línea sin salir de casa
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Asesoría especializada
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Obtén descuentos, promociones y hasta 12 meses sin intereses
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Elige y personaliza tu seguro justo a tu medida
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Los precios más económicos en México
                </li>
              </ul>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Compara los paquetes que ofrece La Latino Seguros de Auto</h2>
              <p><strong>Seguros La Latino cuenta con 3 tipos de coberturas diseñadas para adaptarse a cada tipo de auto y conductor en México:</strong></p>
              <!-- TABLA -->
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>COBERTURA</th>
                      <th>AMPLIA</th>
                      <th>LIMITADA</th>
                      <th>RC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Daños Materiales</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td>X&nbsp;</td>
                      <td>X&nbsp;</td>
                      
                    </tr>
                    <tr>
                      <td>Robo Total</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td>X&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Responsabilidad civil Daños a terceros </td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Extensión de Responsabilidad Civil</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                    </tr>
                    <tr>
                      <td>RC en E.U.A y Canadá</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Gastos Médicos a Ocupantes</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Accidentes al Conductor</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Asistencia Vial</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Asistencia Legal</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                      <td><img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;</td>
                    </tr>

                  </tbody>
                </table>
                </div>
            </div>
          </section>
          <!-- -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
              <h2>Coberturas Adicionales de La Latino Seguros</h2>
              <p>Seguros La Latino Autos te permite personalizar tu póliza y aumentar el nivel de protección con sus coberturas adicionales.</p>
              
              <ul>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  <strong>Latino + 10:</strong> Añade 10% más al valor comercial del auto que se te pagará en caso de pérdida total. Así se garantiza que puedas reponer el vehículo con uno de igual valor o por el mismo modelo que tenías. 
                </li>
                 <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  <strong>Auto sustituto la latino:</strong>  Si tu coche es declarado pérdida total por robo o daños materiales, La Latino Seguros te indemniza con 10 mil pesos para la renta de un auto sustituto para que te transportes mientras realizas la adquisición de otro vehículo
                </li>
                 <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  <strong>Traslado ejecutivo:</strong> Si vives en la Ciudad de México o el Área Metropolitana, se te brinda el servicio de chofer privado hasta por 5 horas en caso de que tu auto no pueda moverse por algún incidente contemplado en la cobertura de daños materiales o por robo total. 
                </li>
              </ul>
          <h2>¿Por qué contratar tu seguro de auto con La Latino?</h2>

        <p>Esta legendaria aseguradora mexicana, sinónimo de historia, prestigio y solidez financiera, es una de las grandes favoritas para las familias y empresas que buscan un servicio que entienda a la perfección sus necesidades, preocupaciones y posibilidades.</p>
        <p>De igual forma se han ganado su lugar por ofrecer beneficios y ventajas exclusivas y únicas, como:</p>

            <ul>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Cobertura en todo México con red propia de ajustadores, talleres y centros de atención a clientes.
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Atención telefónica las 24 horas del día todo el año.
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Seguros para todo tipo de vehículo
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Garantía de pago en tan sólo 24 horas en caso de pérdida total del auto
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Puedes contratar coberturas adicionales para personalizar tu servicio y protección.
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Asesoría y defensa legal especializada en caso de accidentes, robo o cualquier tipo de siniestro.
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Amplia variedad de coberturas que se adaptan a todo tipo de auto y conductor
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Cobertura de responsabilidad civil en Estados Unidos y Canadá
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Costos accesibles y flexibles formas de financiamiento.
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Descuentos especiales para mujeres en seguros de vida.
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Pólizas para menores de edad sin costo adicional
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Talleres mecánicos certificados en todo el país.
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Contratación fácil y rápida directamente en línea
                </li>
                <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  App para llevar tu póliza a todos lados en tu smartphone.
                </li>
            </ul>

        <h2>¿Qué tipo de vehículos puedo asegurar con Seguros La Latinoamericana?</h2>
            <ul>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Autos
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Motocicletas
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Pick ups
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Autos clásicos
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Camiones
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Taxis
              </li>
            </ul>
          
          <h2>Seguros Especializados de La Latino</h2>
          <p>Esta aseguradora también se distingue por contar con pólizas especializadas para cada tipo de vehículo terrestre que circula en el país, como lo son:</p>
            <h4>Motocicleta - Auto Latino</h4>
            <ul>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Daños materiales
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Robo total
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Responsabilidad civil
              </li>
            </ul>
            <h4>Auto Clásico - Auto Diario Latino</h4>
            <ul>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Daños materiales
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Robo total
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Responsabilidad civil
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Responsabilidad civil cruzada
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Gastos Médicos al Conductor
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Equipo Especial, Adaptaciones y Conversiones
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Accidentes al Conducto
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Asistencia Legal
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Asistencia Vial
              </li>
            </ul>

            <h4>Camión - Camino Latino</h4>
            <ul>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Daños materiales
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Robo total
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Responsabilidad civil
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Accidentes al conductor
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Gastos Médicos al Conductor
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Asistencia vial
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Asistencia legal
              </li>
            </ul>
        <h2>¿Cuánto cuestan los Seguros para Autos La Latino?</h2>
        <p>Al igual que en cualquier otra aseguradora del país, La Latino Seguros tienen precios completamente personalizados para cada conductor y vehículo, los cuales se calculan contemplando las necesidades y el nivel de riesgo del solicitante contemplando factores como:</p>
            <ul>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Edad del titular o conductor habitual del auto.
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Sexo
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Lugar de domicilio
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Ocupación
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Tipo de uso del vehículo. 
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Antigüedad de la unidad. 
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Cobertura seleccionada
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Historial crediticio.
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Historial de conducción.
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Forma de pago y financiamiento
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Coberturas adicionales seleccionadas.
              </li>
            </ul>
        <p>Aunque no existe un precio exacto podemos decir que el costo promedio de las pólizas de Seguros La Latino van desde los $2,638 hasta los $7,592. Todo dependerá de tu perfil y tipo de auto.</p>
              <h2>¿Cuáles son los Requisitos de contratación de seguro?</h2>
              <p>Los requisitos para contratar un seguro de auto o de cualquier otro tipo son:</p>
              <ul>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Nombre completo
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Comprobante de domicilio con código postal
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  RFC
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Licencia de conducir vigente
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Identificación oficial
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Télefono 
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Correo electronico
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Metodo de pago
              </li>
            </ul>

        <p>En cuanto a los datos de tu auto se requiere:</p>
        <ul>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Marca
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Modelo 
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Submarca
              </li>   
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Año
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Número de serie
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Número de motor
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Descripción
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Placas
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Tarjeta de circulación
              </li>
            </ul>

            
        <h2>¿Qué hacer en caso de siniestro con Seguros La Latino?</h2>
        <p>Si tienes un seguro de auto de esta aseguradora y llegas a sufrir un accidente vial o cualquier tipo de siniestro al conducir, es importante que tomes en cuenta las siguientes recomendaciones para garantizar tu seguridad, la de tus acompañantes y para que el seguro no se invalide por alguna falta:</p>

           <ul>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Conserva la calma
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Asegurate que todos tus acompañantes se encuentren bien y comunicate inmediatamente con tu aseguradora. 
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Informa al asesor qué es lo que ha ocurrido y dónde te encuentras, si usas la app será más fácil compartir tu ubicación.
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                  Notifica en ese momento si tú o alguna otra persona requiere asistencia médica o el apoyo de cuerpos de emergencia. 
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Si existe algún peligro de explosión, incendio o cualquier otro, retírate a un lugar seguro, de lo contrario, lo más recomendable es esperar en el auto.
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Espera la llegada del auxilio, en este lapso de tiempo trata de mover lo menos posible el auto a menos que estorbe con el tráfico. Tampoco manipules ninguna pieza o trates de repararla. 
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                 Bajo ninguna circunstancia hagas tratos personales con terceros, aceptes alguna responsabilidad o entres en conflicto.
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Al llegar, el ajustador será el que determinará los daños y te indicará los pasos a seguir.
              </li>
            
            </ul>

            <h2>¿Qué otro tipo de seguros ofrece La Latino en México?</h2>
          <p>Además del seguro de autos, esta empresa cuenta con la solidez y experiencia para ofrecer coberturas en todos los ramos más importantes para personas y empresas, como lo son:</p>
            <h4>Personas</h4>
            <ul>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Vida
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Gastos Medicos Mayores
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Accidentes
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Hogar
              </li>
            </ul>

            <h4>Empresas</h4>
            <ul>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Vida
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Gastos Medicos Mayores
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Accidentes
              </li>
              <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Accidentes escolares
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Protección empresarial
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Seguro de taxi
              </li>
               <li>
                  <img src="/img/icon/latinoCheck.webp" width="17" height="17" alt="check" />&nbsp;
                Calidad de vivienda
              </li>
            </ul>

            <h2><strong>Preguntas Frecuentes</strong></h2>
            <p><strong>¿Cuál es el número para reportar un siniestro a La Latino Seguros?</strong></p>
            <p>En caso de siniestro o para solicitar apoyo vial marca al 55 5130 2800</p>
            
            <p><strong>¿Dónde se encuentra el corporativo de Seguros La Latino?</strong></p>
            <p>Eje Central Lázaro Cárdenas No.2, Piso 8, Col. Centro, Del. Cuauhtémoc, Ciudad de México. Tels: 55 5130 2800 / 800 001 1900</p>
            
            <p><strong>¿Cómo renovar mi seguro de auto?</strong></p>
            <p>La mayoría de las pólizas cuentan con renovación automática para que no te quedes sin seguro en caso de que olvides realizar la renovación, sin embargo, si no deseas renovar o quieres hacer un cambio comunícate por lo menos 30 días antes de la fecha de vigencia.</p>

            <p><strong>¿Cuáles son los métodos de pago?</strong></p>
            <p>Puedes pagar tu seguro de auto con tarjeta de crédito, débito, transferencia, depósito o en efectivo.</p>


            </div>
          </section>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newAutosForm.vue";
import Especial from "~/components/alerta/promo.vue";
import getInsurerPromo from '~/plugins/promoData.js'; import telefonoService from "~/plugins/telefonoService.js";
export default {
   beforeCreate() {
    //POR ASEGURADORA
    this.$store.state.config.aseguradora = "LATINO";
     this.$store.state.config.cotizacion = true;
     this.$store.state.config.emision = true;
     this.$store.state.config.interaccion = true;
     this.$store.state.config.grupoCallback = 'VN MULTIMARCAS';
     this.$store.state.config.from = "DOMINIO-LALATINO";
     this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
     this.$store.state.config.dominioCorreo = "AUTOS|LATINO|lalatinoseguros-mx";
     this.$store.state.config.idPagina = 47;
     this.$store.state.config.idSubRamo = 41;//14
     this.$store.state.config.idMedioDifusion = 2456;
     this.$store.state.config.idMedioDifusionInteraccion = 3254;
     this.$store.state.config.idMedioDifusionEcommerce = 3253;

    /*mkt*/
    this.$store.state.config.asgNombre = "La Latino Seguros"; //NOMBRE DE LA ASEGURADORA EN LA VISTA
    this.$store.state.config.img = "latino.svg"; // HEADER, CARD, FOOTER
    this.$store.state.config.titulo = "La Latino Seguros de Autos"; // INDEX
    this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.promo = " ";
    this.$store.state.config.adic = " ";
    this.$store.state.config.dominio = "lalatinoseguros.mx";
    this.$store.state.config.domV2 = "lalatinoseguro.mx";
    this.$store.state.config.domV3 = "latinosegurosautos.mx";
    this.$store.state.config.k1 = "Seguros La Latino";
    this.$store.state.config.k2 = "La Latino";
    this.$store.state.config.k3 = "Seguros de autos La Latino";
    this.$store.state.config.k4 = "La Latino Seguros Autos";
    this.$store.state.config.k5 = "La Latino Seguros México";
    this.$store.state.config.k6 = "La Latino México";
    this.$store.state.config.k7 = "Seguros La Latino Autos";
    this.$store.state.config.k8 = "La Latino Seguros de auto";
    this.$store.state.config.k9 = "Aseguradora La Latino";
    this.$store.state.config.gracias = '/seguros-de-autos/thank-you';
    this.$store.state.config.colpromo = "col-8 col-md-8";
  },
  async created() {

    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
console.log( telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

      try{
        const insurer = await getInsurerPromo(
          this.$store.state.config.aseguradora
        );
        console.log(insurer);
        //Porcentajes y MESES SIN INTERESES 
        this.$store.state.config.desc = insurer.promo.dto;
        this.$store.state.config.msi = insurer.promo.msi;
        //promo especial
        this.$store.state.config.promoSpecial = insurer.promo.isSpecial;
        //label Promo
        this.$store.state.config.promoLabel = insurer.promo.label;
        //img promo
        this.$store.state.config.promoImg = insurer.promo.urlImg;
        //mensaje extra
         this.$store.state.config.extraMsg = insurer.promo.extraMsg;
        //clases en  especiales
        if(insurer.promo.isSpecial){
        this.$store.state.config.colpromo = "col-6 col-md-6";
        }
      }
      catch (e){
        console.log(e)
      }
    },
  layout: "index",
  components: {
    formulario,
    Especial,
  },
  head() {
    return {
      title: 'La Latino Seguros - Cotiza Seguro de Auto La Latino - Seguros de Autos',
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros de Autos, Seguro de Auto La Latino, Cotizar Seguro de Auto, La Latino Seguros, Seguros La Latino"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Con La Latino Seguros podrás proteger tu vehículo ante diversas situaciones. ¡Cotiza en segundos y contrata la póliza ideal para ti y tu auto!"
        },
        { hid: "robots", name: "robots", content: "noindex, nofollow" },
        {
          hid: "author",
          name: "author",
          content: "lalatinoseguros.mx"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://lalatinoseguros.mx/seguros-de-autos"
        }
      ]
    };
  }
};
</script>
