<template>
  <div id="botonTop">
    <Header />
    <Btn />
    <div :class="$store.state.config.dominio + ' -- VERSION 1'"></div>
    <nuxt />
    <Footer />
    <hotsaleAlert />
  </div>
</template>
<script>
import Header from "~/components/common/Header.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
import hotsaleAlert from "../components/alerta/hotsaleAlert.vue";

export default {
  components: {
    Header,
    Btn,
    Footer,
    hotsaleAlert,
  }
};
</script>
