<template>
  <div class="contenedorPromo mx-auto">
      <div class="container-fluid p-0 m-0 adornosPromo"> 
      <div class="row pt-3 pb-1 px-2">
        <div class="col-4 mt-1">
           <img
                  :src="'/img/asg/logo/'+$store.state.config.img"
                  :alt="$store.state.config.asgNombre"
                  :class="'imglogo ' + this.$store.state.config.logo"
                  width="156" height="82"
                /> 
        </div>
        <div class="col-2 px-1" v-if="this.$store.state.config.promoSpecial">
          <img :src="this.$store.state.config.promoImg" width="76" height="68" alt="logo promocion" class="imgPromo"/>
        </div>
        <div :class="this.$store.state.config.colpromo" style="position: relative;">
          <!-- Obtén y msi son estáticos, solo descuentosPromo y msiPromo son dinámicos -->
           <p class="descuentosPromo" :class="this.$store.state.config.textTitulo">{{$store.state.config.desc}}</p>
          <small class="labelPromo">{{this.$store.state.config.promoLabel}}</small>
          <!-- <small class="msiPromo">{{$store.state.config.msi}} </small>
          <small class="labelendPromo" :class="this.$store.state.config.textPromo">Meses Sin Intereses</small> -->
           <div v-if="this.$store.state.config.msi !== ''">
                      <small class="msiPromo">{{
                        this.$store.state.config.msi
                      }}</small>
                      <small
                        v-if="
                          !this.$store.state.config.msi
                            .toLowerCase()
                            .includes('meses')
                        "
                        class="labelendPromo"
                      >
                        {{this.$store.state.config.extraMsg}}
                        </small
                      >
                    </div>
        </div>
      </div>
    </div> 
  </div>
</template>
<script> 

export default {
  components: {
 
  },
  created: function() {
    this.$store.state.config.colpromo = "col-8 col-md-8";
   /*  this.$store.state.config.pnormal = true;
    this.$store.state.config.alert1 = false;
    this.$store.state.config.alert2 = false;
    this.$store.state.config.desc = '25% de descuento';
    this.$store.state.config.msi = "+ 3, 6 y 12";
    this.$store.state.config.imgPromo = 'normal';
    
    this.$store.state.config.logo = "";
    this.$store.state.config.lluvia = "";
    this.$store.state.config.textTitulo = "";
    this.$store.state.config.textPromo = ""; */

  },

  methods: {
    
  }
};
</script>

<style scoped>
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted #1e3e89;border-radius:6px;}
.labelPromo{position: absolute;top: -8px; left: -8px;background: #f0b118;color: #fff;border-radius: 10px;padding: 0px 12px;}
.descuentosPromo{background:#1e3e89;color:#fff;text-align:center;font-weight:bold;font-size:1rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1rem;text-align:center;display:block;line-height:1;color: #212529}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;color: #212529}
.imglogo{    width: 156px;
    margin-top: -9px;
    height: 112%;
    margin-left: -8px;}
.imgPromo{
        width: auto;
    margin-top: -9px !important;
    margin-left: -25px !important;
    height: 90px;
  }
/*Vista mobile*/  
@media (min-width: 801px) and (max-width: 1200px) {  
  .imglogo{
    width: auto;
    margin-top: -9px;
    height: 108%;
    margin-left: -29px;
  }
   h1{
    font-size: 31px;
  }
  .imgPromo{
      width: auto;
    margin-top: -6px !important;
    margin-left: -27px !important;
    height: 79px;

  } 
}

@media (min-width: 768px) and (max-width: 800px) { 
  .descuentosPromo{font-size: 13px;}
  .textTitulo{font-size: 14px !important;}
  .imgLogo2{
    width: auto !important;
    margin-top: -9px !important;
    height: 108% !important;
    margin-left: -29px !important;
  }
  .imgPromo{
      width: auto;
    margin-top: -6px !important;
    margin-left: -27px !important;
    height: 79px;

  } 
  .imglogo{
    width: auto;
    margin-top: -9px;
    height: 108%;
    margin-left: -33px;
  }
  h1{
    font-size: 31px;
    text-align: center;
  }

}
@media (min-width: 426px) and (max-width: 767px) {  

  .imgLogo2{
    width: auto !important;
    margin-top: -9px !important;
    height: 98% !important;
    margin-left: -24px !important;
  }
  .imgPromo{
   width: auto;
    margin-top: 3px!important;
    margin-left: -9px!important;
    height: 66px;
  }
}
@media (min-width: 376px) and (max-width: 425px) { 
  .labelPromo{
    font-size: 12px;
}
  .textTitulo{font-size: 12px !important;}
  .textPromo{font-size: 12px;}
  .imgLogo2{
    width: auto !important;
    margin-top: -9px !important;
    height: 98% !important;
    margin-left: -20px !important;
  }
  .imgPromo{
  
    width: auto;
   margin-top: -6px !important;
    margin-left: -22px !important;
    height: 80px;

  }
   .imglogo{
    width: auto;
    margin-top: -9px;
    height: 108%;
    margin-left: -23px;
  } 

}
@media (min-width: 321px) and (max-width: 375px) {  
  .textTitulo{font-size: 12px !important;}
  .textPromo{font-size: 12px;}
    .imgLogo2{
    width: auto !important;
    margin-top: -9px!important;
    height: 98% !important;
    margin-left: -24px !important;
  }
  .imgPromo{
    width: auto;
    margin-top: -4px !important;
    margin-left: -19px !important;
    height: 69px;
  }
 .imglogo{
    width: auto;
    margin-top: -9px;
    height: 98%;
    margin-left: -24px;
  }
   .descuentosPromo{
    font-size: 12px;
  }
  .labelendPromo{
    font-size:10px;
  }
  .labelPromo{font-size: 12px;}

}
@media (min-width: 240px) and (max-width: 320px) {  
 
  .labelPromo{font-size: 11px;}
  .imgLogo2{
    width: auto !important;
    margin-top: -9px !important;
    height: 98% !important;
    margin-left: -24px !important;
  }
  .imgPromo{
    width: auto;
    margin-top: -2px !important;
    margin-left: -17px !important;
    height: 64px;
  }
  .textTitulo{font-size: 11px !important;}
  .descuentosPromo{
    font-size: 12px;
  }
  .labelendPromo{
    font-size:10px;
  }
  .imglogo{
    width: auto;
    margin-top: -9px;
    height: 98%;
    margin-left: -24px;
  }

}
</style>