<template>
    <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-lg-6  col-md-6 col-12 txt  d-md-block" >
              <h1 class="text-white  text-center">{{$store.state.config.titulo}}</h1>
                       <!-- <img :src="'/img/'+this.$store.state.config.promoimg" alt="imagen de karen" class="img-fluid mt-2" width="100%" height="52"> -->
                <Especial />
            </div>
            
            <!-- FORM -->
            <div class="col-lg-5 col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
              <div class="col-8 offset-2 d-md-none">
                <img class="v2Head" src="/img/icon/latinoC.svg" width="163" height="70" alt="promo"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newAutosForm.vue";
import Especial from "~/components/alerta/promo.vue";
import getInsurerPromo from '~/plugins/promoData.js'; import telefonoService from "~/plugins/telefonoService.js";
export default {
   beforeCreate() {
    //POR ASEGURADORA
     this.$store.state.config.aseguradora = "LATINO";
     this.$store.state.config.cotizacion = true;
     this.$store.state.config.emision = true;
     this.$store.state.config.interaccion = true;
     this.$store.state.config.grupoCallback = 'VN MULTIMARCAS';
     this.$store.state.config.from = "DOMINIO-LALATINO";
     this.$store.state.config.dominioCorreo = "AUTOS|LATINO|lalatinoseguros-mx";
     this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
     this.$store.state.config.idPagina = 23;
     this.$store.state.config.idSubRamo = 41;//14
     this.$store.state.config.idMedioDifusion = 3792;
     this.$store.state.config.idMedioDifusionInteraccion = 3793;
     this.$store.state.config.idMedioDifusionEcommerce = 3794;

    /*MKT*/
    this.$store.state.config.asgNombre = "La Latino Seguros"; //NOMBRE DE LA ASEGURADORA EN LA VISTA
    this.$store.state.config.img = "latino.svg"; // HEADER, CARD, FOOTER
    this.$store.state.config.titulo = "La Latino Seguros de Autos"; // INDEX
    this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.promo = " ";
    this.$store.state.config.adic = " ";
    this.$store.state.config.dominio = "lalatinoseguros.mx";
    this.$store.state.config.domV2 = "lalatinoseguro.mx";
    this.$store.state.config.domV3 = "latinosegurosautos.mx";
    this.$store.state.config.k1 = "Seguros La Latino";
    this.$store.state.config.k2 = "La Latino";
    this.$store.state.config.k3 = "Seguros de autos La Latino";
    this.$store.state.config.k4 = "La Latino Seguros Autos";
    this.$store.state.config.k5 = "La Latino Seguros México";
    this.$store.state.config.k6 = "La Latino México";
    this.$store.state.config.k7 = "Seguros La Latino Autos";
    this.$store.state.config.k8 = "La Latino Seguros de auto";
    this.$store.state.config.k9 = "Aseguradora La Latino";
    this.$store.state.config.gracias = '/sms/thank-you';
    this.$store.state.config.colpromo = "col-8 col-md-8";
  },
  async created() {

    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
console.log( telefono.data.telefono)
      }	
    } catch (error) {
      console.log(error);
    }

      try{
        const insurer = await getInsurerPromo(
          this.$store.state.config.aseguradora
        );
        console.log(insurer);
        //Porcentajes y MESES SIN INTERESES 
        this.$store.state.config.desc = insurer.promo.dto;
        this.$store.state.config.msi = insurer.promo.msi;
        //promo especial
        this.$store.state.config.promoSpecial = insurer.promo.isSpecial;
        //label Promo
        this.$store.state.config.promoLabel = insurer.promo.label;
        //img promo
        this.$store.state.config.promoImg = insurer.promo.urlImg;
        //mensaje extra
         this.$store.state.config.extraMsg = insurer.promo.extraMsg;
        //clases en  especiales
        if(insurer.promo.isSpecial){
        this.$store.state.config.colpromo = "col-6 col-md-6";
        }
      }
      catch (e){
        console.log(e)
      }
    },
  layout: "index",
  components: {
    formulario,
    Especial,
  },
  head() {
    return {
      title: 'La Latino Seguros - Cotiza Seguro de Auto La Latino - Seguros de Autos',
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros de Autos, Seguro de Auto La Latino, Cotizar Seguro de Auto, La Latino Seguros, Seguros La Latino"
        },
        {
          hid: "description",
          name: "description",
          content:
            "Con La Latino Seguros podrás proteger tu vehículo ante diversas situaciones. ¡Cotiza en segundos y contrata la póliza ideal para ti y tu auto!"
        },
        { hid: "robots", name: "robots", content: "noindex, nofollow" },
        {
          hid: "author",
          name: "author",
          content: "lalatinoseguros.mx"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://lalatinoseguros.mx/sms"
        }
      ]
    };
  }
};
</script>
