<template>
  <client-only>
    <form
      id="formcotizar"
      method="POST"
      action novalidate
      @submit.prevent="validateBeforeSubmit('formcotizar')"
    >
      <p class="txtForm my-1 mt-3">
        Ingresa los datos de tu auto para cotizar en segundos
      </p>
      <div class="row">
        <!-- MARCA -->
        <div class="col-12 col-md-6 form">
          <select
            name="marca"
            id="marca"
            v-model="$store.state.formData.marca"
            required=""
            class="form-control form-select"
            style="overflow: hidden; width: 100%"
            @change="getModelos(), myFocus('modelo')"
          >
            <option value> Marca</option>
            <option v-for="marca in formData.marcas" v-bind:key="marca.text">
              {{ marca.text }}
            </option>
          </select>
                <small style="display: none; color: white;" class="marcaReq"><span style="color: white;">El campo marca es requerido</span></small>
        </div>
        <!-- MODELO -->
        <div class="col-12 col-md-6 form">
          <select
            name="modelo"
            id="modelo"
            v-model="$store.state.formData.modelo"
            required=""
            class="form-control form-select"
            style="overflow: hidden; width: 100%"
            @change="getDescripciones(), myFocus('descripcion')"
          >
            <option value> Modelo</option>
            <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">
              {{ modelo.text }}
            </option>
          </select>
                <small style="display: none; color: white;" class="modeloReq"><span style="color: white;">El campo modelo es requerido</span></small>
        </div>
      </div>
      <div class="row">
        <!-- DESCRIPCION -->
        <div class="col-12 col-md-6 form">
          <select
            style="overflow: hidden; width: 100%"
            name="descripcion"
            id="descripcion"
            v-model="$store.state.formData.descripcion"
            required=""
            class="form-control form-select"
            @change="getSubDescripciones(), myFocus('detalle')"
          >
            <option value> Submarca</option>
            <option
              v-for="descripcion in formData.descripciones"
              v-bind:key="descripcion.text"
            >
              {{ descripcion.text }}
            </option>
          </select>
                <small style="display: none; color: white;" class="descripcionReq"><span style="color: white;">El campo Submarca es requerido</span></small>
        </div>
        <!-- SUBDESCRIPCION -->
        <div class="col-12 col-md-6 form">
          <select
            style="overflow: hidden; width: 100%"
            title="detalle"
            name="detalle"
            id="detalle"
            required=""
            class="form-control form-select mb-1"
            @change="detalleSelected()"
            v-model="$store.state.formData.clave"
          >
            <option value>Descripción</option>
            <option
              v-for="subdescripcion in formData.subDescripciones"
              v-bind:key="subdescripcion.text"
              :value="subdescripcion.id"
            >
              {{ subdescripcion.text }}
            </option>
          </select>
                <small style="display: none; color: white;" class="detalleReq"><span style="color: white;">El campo Descripción es requerido</span></small>
        </div>
      </div>

      <div class="row">
        <!-- EDAD -->
        <div class="col-12 form">
          <select
            name="edad"
            id="edad"
            v-model="$store.state.formData.edad"
            required=""
            class="form-control form-select"
            style="overflow: hidden; width: 100%"
            @change="calculaFechaNacimiento(), warningReq('edadReq')"
          >
            <option value>Edad del conductor</option>
            <option
              v-for="edad in formData.edades"
              v-bind:key="edad.id"
              :value="edad.id"
            >
              {{ edad.text }}
            </option>
          </select>
                <small style="display: none; color: white;" class="edadReq"><span style="color: white;">El campo edad es requerido</span></small>
        </div>
      </div>

      <div class="row">
        <!-- GENERO -->
        <div class="col-12 col-md-6 form">
          <select
            name="genero"
            id="genero"
            v-model="$store.state.formData.genero"
            required=""
            class="form-control form-select"
            style="overflow: hidden; width: 100%"
            @change="myFocus('cp'), warningReq('generoReq')"
          >
            <option value>Género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
                <small style="display: none; color: white;" class="generoReq"><span style="color: white;">El campo género es requerido</span></small>
        </div>
        <!-- CODIGO POSTAL -->
        <div class="col-12 col-md-6 form">
           <div class="form-floating">
            <input
            title="cp"
            type="tel"
            name="cp"
            id="cp"
            v-model="cp"
            pattern="^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$"
            maxlength="5"
            minlength="5"
            onKeyPress="if(this.value.length === 5) return false;"
            required=""
            class="form-control "
            placeholder="Código Postal"
            @change="myFocus('nombre')"
          />
            <label for="cp" class="ps-2">Código postal</label>
            <small style="display: none; color: white;" class="cpReq"><span style="color: white;">El campo código postal es requerido</span></small>
          <small style="display: none; color: white;" class="cpInc"><span style="color: white;">El campo código postal es incorrecto</span></small>
           </div>
        </div>
      </div>

      <div class="row">
        <!-- NOMBRE -->
        <div class="col-12 form">
           <div class="form-floating">
          <input
            type="text"
            name="nombre"
            id="nombre"
            v-model="nombre"
            class="form-control"
            required=""
            placeholder="Escribe tu nombre"
            pattern="[a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.]{3,50}"
            style="overflow: hidden; width: 100%"
            @change="space('nombre')"
          />
          <label for="nombre" class="ps-2">Escribe tu nombre</label>
          <small style="display: none; color: white;" class="nombreReq"><span style="color: white;">El campo nombre es requerido</span></small>
          <small style="display: none; color: white;" class="nombreInc"><span style="color: white;">El campo nombre es incorrecto</span></small>
           </div>
        </div>
      </div>

      <div class="row">
        <!-- CORREO -->
        <div class="col-12 col-lg-6 form">
          <div class="form-floating">
          <input
            type="email"
            name="correo"
            id="correo"
            v-model="correo"
            class="form-control"
            required=""
            placeholder="Escribe tu email"
            style="overflow: hidden; width: 100%"
            @change="space('correo')"
          />
          <label for="correo" class="ps-2">Escribe tu email</label>
          <small style="display: none; color: white;" class="correoReq"><span style="color: white;">El campo e-mail es requerido</span></small>
          <small style="display: none; color: white;" class="correoInc"><span style="color: white;">El e-mail es incorrecto</span></small>
          </div>
        </div>
        <!-- TELEFONO -->
        <div class="col-12 col-lg-6 form">
          <div class="form-floating">
          <input
            title="telefono"
            type="tel"
            name="telefono"
            id="telefono"
            v-model="telefono"
            required=""
            onKeyPress="if(this.value.length === 10) return false;"
            pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)?\d{10}$"
            maxlength="10"
            minlength="10"
            class="form-control  "
            @change="myFocus('btnCotizarAuto')"
            placeholder="Escribe tu teléfono"
          />
          <label for="telefono" class="ps-2">Escribe tu teléfono</label>
          <small style="display: none; color: white;" class="telefonoReq"><span style="color: white;">El campo teléfono es requerido</span></small>
          <small style="display: none; color: white;" class="telefonoInc"><span style="color: white;">El teléfono es incorrecto</span></small>
          </div>
        </div>
        <input type="text" id="gclid_field" name="gclid_field" value="" style="visibility:hidden; display: none;" />
      </div>
      <!-- CHECKBOX -->
      <div class="row">
        <div class="col-12">
          <privacidad></privacidad>
        </div>
      </div>
      <!-- BOTON -->
      <div class="row">
        <div class="col-12 btnform">
          <button id="btnCotizarAuto" type="submit" class="btn">
            <strong>Cotiza gratis</strong>
            <img
              src="/img/icon/indicador.png"
              alt="Cotizar gratis ahora"
              width="24"
              height="24"
            />
          </button>
        </div>
      </div>
    </form>
  </client-only>
</template>

<script>
import catalogosDirectos from "~/plugins/catalogosDirectos";
import axios from "axios"
import privacidad from "~/components/common/CheckboxPrivacidad.vue";

const catalogo = new catalogosDirectos();

export default {
  props: {
    config: Object,
  },
  components: {
    privacidad,
  },
  data() {
    return {
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
        telefono: "",
      },
      telefono: "",
      nombre: "",
      correo: "",
      accessToken: "",
      cp: '',
      formValido: 0,
      warning_req: [
          { 	"id": "marcaReq" },
          { 	"id": "modeloReq" },
          { 	"id": "descripcionReq" },
          { 	"id": "detalleReq" },
          { 	"id": "edadReq" },
          { 	"id": "generoReq" },
          { 	"id": "cpReq" },
          { 	"id": "nombreReq" },
          { 	"id": "correoReq" },
          { 	"id": "telefonoReq" },
      ],
    };
  },
  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
          if (this.telefono.length == 10) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("btnCotizarAuto");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function() {//version2

      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if(this.nombre.length>2){//un caracter al menos
        var ultimoCaracter = this.nombre.substring(this.nombre.length-1, this.nombre.length);
        var result = this.checkCaracter(ultimoCaracter,'letra');
        if(result){
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2,this.nombre,null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,            
            this.nombre,'nombre');
          // if(this.nombre.search(/[0-9]/g)!=-1){
          //   // console.log('si entra :)')
          //   this.formValido = 0;
          // }
        }
        else{
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length-1);
        }
      }else{
        this.$store.state.formData.nombre = '';
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function() {//version2
      if(this.cp.length>0){//un caracter al menos
        var ultimoCaracter = this.cp.substring(this.cp.length-1, this.cp.length);
        var result = this.checkCaracter(ultimoCaracter,'numero');
        if(result){
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4,this.cp,'33333');
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/,this.cp,'cp');
          console.log(this.cp.length)
              if (this.cp.length==5) {
              // this.myFocus("nombre")
              setTimeout(() => {
                      this.myFocus("nombre")
                  }, 1000);
      }
          
        }
        else{
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length-1);
        }
      }else{
        this.$store.state.formData.cp = '';
        //Oculta advertencia INCORRECTO
        this.warningView("cpInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
  beforeCreate() {
    this.$store.commit("validarTokenCore");
  },
  async created() {
    if(!this.$store.state.config.reload){
    this.$store.state.config.reload = true
      if (typeof window !== 'undefined') {
      window.location.reload()
      }
    }
    if (typeof window !== 'undefined') {
      this.$store.state.formData.urlOrigen = window.location.href;
    }

    this.$store.state.formData.utmSource = this.$route.query?.utm_source ? this.$route.query.utm_source : 'No params detected'
    this.$store.state.formData.utmMedium = this.$route.query?.utm_medium ? this.$route.query.utm_medium : 'No params detected'
    this.$store.state.formData.utmCampaign = this.$route.query?.utm_campaign ? this.$route.query.utm_campaign : 'No params detected'
    this.$store.state.formData.utmId = this.$route.query?.utm_id ? this.$route.query.utm_id  :'No params detected'




    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.aseguradora = this.config.aseguradora;
    
    if (this.$store.state.sin_token === true || this.$store.state.sin_token === 'expirado') {
      await this.$store.dispatch("getToken")
      .then(resp => {
        if(typeof resp.data == 'undefined'){this.accessToken = resp.accessToken;}
        else if(typeof resp.data.accessToken != 'undefined'){this.accessToken = resp.data.accessToken;}
      })
      .catch(error => {
          var status = error.response !== undefined ? error.response.status : 500;
          var message = error.response !== undefined ? JSON.stringify({"error":error.response.data, "peticion":JSON.parse(error.config.data)}) : "ERR_CONNECTION_REFUSED"
          console.log('Hubo un problema al generar el token')
          
      })
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
    this.getEdades();
    this.getMarcas()
  },
  methods: {
    getMarcas: function() {
      catalogo
        .marcas()
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.marcas = response;
          } else {
            this.formData.marcas = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar las subDescripciones");
          this.$store.state.idEndPoint = 1571;
          var data = {
            aseguradora: this.$store.state.formData.aseguradora,
            marca: this.$store.state.formData.marca,
            modelo: this.$store.state.formData.modelo,
            descripcion: this.$store.state.formData.descripcion,
          };
          this.catchStatusAndMessage(error, data);
          
        });
    },
    getModelos: function () {
        this.$store.state.formData.modelo = "";
        this.$store.state.formData.descripcion = "";
        this.$store.state.formData.detalle = "";
        this.$store.state.formData.clave = "";
        this.formData.modelos.length = 0;
        this.formData.descripciones.length = 0;
        this.formData.subDescripciones.length = 0;
        this.formData.detalles.length = 0;
      this.warningReq('marcaReq');
        catalogo
            .modelos(
                this.$store.state.formData.marca
            )
            .then(response => {this.formData.modelos = response.data;
            })
        .catch((error) => {
          console.log("Hubo un problema al cargar las subDescripciones");
          this.$store.state.idEndPoint = 1571;
          var data = {
            aseguradora: this.$store.state.formData.aseguradora,
            marca: this.$store.state.formData.marca,
            modelo: this.$store.state.formData.modelo,
            descripcion: this.$store.state.formData.descripcion,
          };
          this.catchStatusAndMessage(error, data);
          
        });
    },
    getDescripciones: function () {
        document.getElementById("descripcion").focus();
        this.$store.state.formData.descripcion = "";
        this.$store.state.formData.detalle = "";
        this.$store.state.formData.clave = "";
        this.formData.descripciones.length = 0;
        this.formData.subDescripciones.length = 0;
        this.formData.detalles.length = 0;
      this.warningReq('modeloReq');
        catalogo
            .submarcas(
                this.$store.state.formData.marca,
                this.$store.state.formData.modelo
            )
            .then(response => {this.formData.descripciones = response.data;
            })
        .catch((error) => {
          console.log("Hubo un problema al cargar las subDescripciones");
          this.$store.state.idEndPoint = 1571;
          var data = {
            aseguradora: this.$store.state.formData.aseguradora,
            marca: this.$store.state.formData.marca,
            modelo: this.$store.state.formData.modelo,
            descripcion: this.$store.state.formData.descripcion,
          };
          this.catchStatusAndMessage(error, data);
          
        });
    },
    getSubDescripciones: function () {
      document.getElementById("detalle").focus();
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.subDescripciones.length = 0;
      this.warningReq('descripcionReq');

      axios.get('https://api.ipify.org?format=json')
          .then(resp => {
            if(typeof resp.data == 'undefined'){this.$store.state.config.ipCliente = resp.ip;}
            else if(typeof resp.data.ip != 'undefined'){this.$store.state.config.ipCliente = resp.data.ip;}
          })
      
      axios.get(`${process.env.promoCore}/v1/discount/LALATINO?business=AS&service=PARTICULAR`).then((resp) => {
        if(parseInt( resp.data.discount) ){
          this.$store.state.config.descuento = resp.data.discount
        }else{
          this.$store.state.config.descuento = 0
        }
        if (isNaN(resp.data.delay) || resp.data.delay == 0) {
          this.$store.state.config.time = 5000
        } else {
          this.$store.state.config.time = Number(resp.data.delay)
        }

      }).catch( (err) => {
        this.$store.state.config.descuento = 0
      })


      catalogo
          .descripciones(
              this.$store.state.formData.marca,
              this.$store.state.formData.modelo,
              this.$store.state.formData.descripcion,
              this.accessToken
          )
          .then(response => {this.formData.subDescripciones = response.data;
          })
        .catch((error) => {
          console.log("Hubo un problema al cargar las subDescripciones");
          this.$store.state.idEndPoint = 1571;
          var data = {
            aseguradora: this.$store.state.formData.aseguradora,
            marca: this.$store.state.formData.marca,
            modelo: this.$store.state.formData.modelo,
            descripcion: this.$store.state.formData.descripcion,
          };
          this.catchStatusAndMessage(error, data);
          
        });
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
   
    getEdades: function() {
      for (var i = 18; i < 100; i++) {
        this.formData.edades.push({
          id: i,
          text: i,
        });
      }
    },
    detalleSelected(evt) {
      var x = document.getElementById('detalle');
      var i = x.selectedIndex;
      if(this.$store.state.formData.clave != ''){
        this.$store.state.formData.detalle = x.options[i].text;
      }else{
        this.$store.state.formData.detalle = '';
      }
      this.myFocus("edad");
      this.warningReq('detalleReq');
    },
    validateBeforeSubmit() {
       this.formValido = 1;
      for (var w in this.warning_req)//w=indices
      {
          this.warningReq(this.warning_req[w].id);
      }
     if (this.formValido) {
      this.$store.state.config.reload = true
        document.getElementById("btnCotizarAuto").disabled = true;
        // document.getElementById("formcotizar").reset();
        $nuxt._router.push({ path: this.$store.state.config.gracias });
      }
      else {
        document.getElementById("btnCotizarAuto").disabled = false;
      }
    },
    myFocus: function(id) {
      setTimeout(alertFunc, 500);
      function alertFunc(){
        if(typeof document != 'undefined'){
          var e = document.getElementById(id);
          if(e){
            e.focus();
          }
        }
      }
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad).toString()
      ).toString("dd/MM/yyyy");
    },
    //Validacion para funnel
    warningReq: function(idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if(typeof req[0] != "undefined"){
          req[0].style.display = "none";
        }
        if (
          id == "cp" &&
          this.$store.state.formData.cp == "" || this.cp.search(/[a-zA-Z]/g)!=-1
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          id == "nombre" &&
          this.$store.state.formData.nombre == "" || this.nombre.search(/[0-9]/g)!=-1
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          id == "correo" &&
          this.$store.state.formData.correo == ""
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          id == "telefono" &&
          this.$store.state.formData.telefono == "" || this.telefono.search(/[a-zA-Z]/g)!=-1
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          elemento.value == "" &&
          (
            idWarning == "marcaReq" ||
            idWarning == "modeloReq" ||
            idWarning == "descripcionReq" ||
            idWarning == "detalleReq" ||
            idWarning == "edadReq" ||
            idWarning == "generoReq"
            )
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        } else{
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningView: function(id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function(x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
    checkCaracter: function(caracter,tipo)
    {
      var regExp = '';
      if(tipo=='numero'){ regExp = /[0-9]/;
      }else{ regExp =/[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/;}
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function(veces,valor,excepcion)
    {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result&&valor!=excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1,valor.length);
        return inicio + final;
      }
      else{
        return valor;
      }
    },
    expresionRegularFinal: function(regExp,valor,campo)
    {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo+"Inc", "none");
        this.warningReq(campo+'Req');
      }
      else{
        this.$store.state.formData[campo] = '';
        //Oculta advertencia REQUERIDO
        this.warningReq(campo+'Req');
        //Muestra advertecia INCORRECTO
        this.warningView(campo+"Inc", "block");
      }
    },
    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@")
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
separado = cadena.substring(primero + 1, cadena.length).split("@")
          separado.forEach(element => {
            cad2 += element.replaceAll("@", "")
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2
        cadena = cadena.split(' ').join(' ').trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, '');
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(' ').join(' ').trim();
      }
      this[valor] = cadena;
    },

  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus();
      },
    },
  },
  mounted() {},
};
</script>
